.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10em;
    
}

.image {
    flex-basis: 200%;
    flex-flow: column;
    box-shadow: -10px 10px 5px grey;
    margin-right: 20px;
}

.image1 {
    flex-basis: 100%;
    flex-flow: column;
    box-shadow: -10px 10px 5px grey;
    margin-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    background-color: rgba(78, 205, 209, 0.8);
    color: #fff;
    font: bold;
    
}

.text {
    font-size: 20px;
    padding-right: 50px;
    padding-left: 20px;
}

ol {
    padding-left: 45rem;
    margin-top: 2em;
    font-size: 2rem;
}

h2 {
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
}
